@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,200;0,300;0,400;1,100;1,400&family=Ubuntu:ital,wght@0,400;0,500;1,700&display=swap');

:root {
  --light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --very-dark-blue: hsl(208, 49%, 24%);
  --white-text: hsl(0, 0%, 100%);
  --footer-text: hsl(240, 2%, 79%);
  --body-copy: hsl(207, 13%, 34%);
  --footer-background: hsl(240, 10%, 16%);
  /* Background gradient - Intro/CTA mobile nav: */
  --very-light-red: hsl(13, 100%, 72%);
  --light-red: hsl(353, 100%, 62%);
  /* Background gradient - body: */
  --very-dark-blue: hsl(237, 17%, 21%);
  --very-desaturated-blue: hsl(237, 23%, 32%);
}

body {
  font-size: 16px;
  font-family: 'Overpass', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  background-color: blue;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
