$light-red: hsl(356, 100%, 66%);
$very-light-red: hsl(355, 100%, 74%);
$very-dark-blue: hsl(208, 49%, 24%);
$white-text: hsl(0, 0%, 100%);
$footer-text: hsl(240, 2%, 79%);
$body-copy: hsl(207, 13%, 34%);
$footer-background: hsl(240, 10%, 16%);
$very-light-red: hsl(13, 100%, 72%);
$light-red: hsl(353, 100%, 62%);
$very-dark-blue: hsl(237, 17%, 21%);
$very-desaturated-blue: hsl(237, 23%, 32%);
$blue-color: hsl(228, 45%, 44%);
$text-header: hsl(0, 0%, 100%);
$light-white: hsl(240, 15%, 91%);
$h1: 60px;
$headerGradient: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
