@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/* font-family: 'Lexend Deca', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --white-color: hsl(0, 0%, 100%);
  --transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --transparent-white-secondary-headings: hsla(0, 0%, 100%, 0.6);
}

body {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-primary);
  color: var(--white-color);
  text-align: center;
}

.main {
  display: flex;
  height: 100vh;
}

.container {
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.text-content {
  background-color: var(--card-background);
  padding: 6rem;
  min-height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  order: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  text-align: left;
}

.text-content p {
  color: var(--transparent-white-main-paragraph);
}

.text-content h1 {
  font-size: 3rem;
  font-weight: bold;
}

.text-content h4 {
  color: var(--transparent-white-secondary-headings);
}

#insights {
  color: var(--soft-violet);
}

.counts-container {
  display: flex;
  justify-content: space-between;
}

.count {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

h5 {
  font-weight: bold;
}

.img-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 0;
  object-fit: fill;
  position: relative;
  order: 2;
}

.img-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(154, 18, 179, 0.4);

  height: 100%;
  width: 100%;
}

img {
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 100%;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .text-content {
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    order: 2;
    padding: 20px;
  }
  .container {
    padding: 4rem;
  }

  .container h1 {
    margin-bottom: 40px;
  }

  .container h5 {
    font-size: 25px;
  }

  .img-container {
    width: 100%;
  }
  .counts-container {
    flex-flow: column;
    justify-content: center;
    text-align: center;
  }
  .count {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  img {
    border-radius: 5px 5px 0 0;
  }
  .text-content {
    border-radius: 5px 5px;
  }
}
